[Unit]
Description=ceilometer-agent-central

[Service]	
WorkingDirectory=/opt/ceilometer/bin
User=ceilometer
Group=ceilometer
ExecStart=/opt/ceilometer/bin/ceilometer-polling --polling-namespaces central
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
